.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}
.card-box{
  display: flex;
    flex-wrap: wrap;
}
.card {
  max-width: 300px;
  margin: 5px;
  border: 1px gray solid;
}

.header {
  background-color: orange;
  display: flex;
}
.nav-items ul{
  display: flex;
  list-style: none;
}

.nav-items ul li{
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
